/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


.backToTopButton{
  position: fixed;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backToTopIcon{
  font-size: 3rem;
}

/*Animation Grow Effect*/
.grow:hover
{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.growBig:hover
{
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}

/*Adds shadow text */
.custom-text-shadow{
  text-shadow: 0px 4px 3px rgba(0,0,0,1),
    0px 8px 13px rgba(0,0,0,0.5),
    0px 18px 23px rgba(0,0,0,0.1);    
}

/*For hide/show button functionality*/
.btnHide {
  opacity:0;
  left:-100%;
}

.btnShow {
  opacity:1;
  left:0;
}

/*Contacts Page*/
* {
	box-sizing: border-box;
  }
  
 
  .blog-card {
	display: flex;
	flex-direction: column;
	margin: 1rem auto;
	box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
	margin-bottom: 1.6%;
	background: #fff;
	line-height: 1.4;
	font-family: sans-serif;
	border-radius: 5px;
	overflow: hidden;
	z-index: 0;
  }
  .blog-card a {
	color: inherit;
  }
  .blog-card a:hover {
	color: #5ad67d;
  }
  .blog-card:hover .photo {
	-webkit-transform: scale(1.3) rotate(3deg);
			transform: scale(1.3) rotate(3deg);
  }
  .blog-card .meta {
	position: relative;
	z-index: 0;
	height: 200px;
  }
  .blog-card .photo {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-position: center;
	transition: -webkit-transform .2s;
	transition: transform .2s;
	transition: transform .2s, -webkit-transform .2s;
  }
  .blog-card .details,
  .blog-card .details ul {
	margin: auto;
	padding: 0;
	list-style: none;
  }
  .blog-card .details {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -100%;
	margin: auto;
	transition: left .2s;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 10px;
	width: 100%;
	font-size: .9rem;
  }
  .blog-card .details a {
	-webkit-text-decoration: dotted underline;
			text-decoration: dotted underline;
  }
  .blog-card .details ul li {
	display: inline-block;
  }
  .blog-card .details .author:before {
	font-family: FontAwesome;
	margin-right: 10px;
	content: "\f007";
  }
  .blog-card .details .date:before {
	font-family: FontAwesome;
	margin-right: 10px;
	content: "\f133";
  }
  .blog-card .details .tags ul:before {
	font-family: FontAwesome;
	content: "\f02b";
	margin-right: 10px;
  }
  .blog-card .details .tags li {
	margin-right: 2px;
  }
  .blog-card .details .tags li:first-child {
	margin-left: -4px;
  }
  .blog-card .description {
	padding: 1rem;
	background: #fff;
	position: relative;
	z-index: 1;
  }
  .blog-card .description h1,
  .blog-card .description h2 {
	font-family: Poppins, sans-serif;
  }
  .blog-card .description h1 {
	line-height: 1;
	margin: 0;
	font-size: 1.7rem;
  }
  .blog-card .description h2 {
	font-size: 1rem;
	font-weight: 300;
	text-transform: uppercase;
	color: #a2a2a2;
	margin-top: 5px;
  }
  .blog-card .description .read-more {
	text-align: right;
  }
  .blog-card .description .read-more a {
	color: #5ad67d;
	display: inline-block;
	position: relative;
  }
  .blog-card .description .read-more a:after {
	content: "\f061";
	font-family: FontAwesome;
	margin-left: -10px;
	opacity: 0;
	vertical-align: middle;
	transition: margin .3s, opacity .3s;
  }
  .blog-card .description .read-more a:hover:after {
	margin-left: 5px;
	opacity: 1;
  }
  .blog-card p {
	position: relative;
	margin: 1rem 0 0;
  }
  .blog-card p:first-of-type {
	margin-top: 1.25rem;
  }
  .blog-card p:first-of-type:before {
	content: "";
	position: absolute;
	height: 5px;
	background: #5ad67d;
	width: 35px;
	top: -0.75rem;
	border-radius: 3px;
  }
  .blog-card:hover .details {
	left: 0%;
  }
  @media (min-width: 640px) {
	.blog-card {
	  flex-direction: row;
	  max-width: 1200px;
	}
	.blog-card .meta {
	  flex-basis: 40%;
	  height: auto;
	}
	.blog-card .description {
	  flex-basis: 60%;
	}
	.blog-card .description:before {
	  -webkit-transform: skewX(-3deg);
			  transform: skewX(-3deg);
	  content: "";
	  background: #fff;
	  width: 30px;
	  position: absolute;
	  left: -10px;
	  top: 0;
	  bottom: 0;
	  z-index: -1;
	}
	.blog-card.alt {
	  flex-direction: row-reverse;
	}
	.blog-card.alt .description:before {
	  left: inherit;
	  right: -10px;
	  -webkit-transform: skew(3deg);
			  transform: skew(3deg);
	}
	.blog-card.alt .details {
	  padding-left: 25px;
	}
  }
  
.modalFont{
	font-family: 'Montserrat', sans-serif;
}

.modalFontSize{
	font-size:15px;
}

.navbar-dark .navbar-nav .nav-link {
	color: rgba(255,255,255,.7);
}

/*Google Maps*/
@import url(https://fonts.googleapis.com/css?family=Roboto);

#map {
	height: 125px;
}

/* Flickerity Custom

.carousel-cell:before {
	display: block;
	text-align: center;
	content: counter(carousel-cell);
	line-height: 0px;
	font-size: 80px;
	color: white;
}

/* @media (max-width: 823px) {
	.carousel-cell:before {
		display: block;
		text-align: center;
		content: counter(carousel-cell);
		line-height: 0px;
		font-size: 80px;
		color: white;
	}
} */

 /* .carouselImg1{
	 width:100%; 
}   */